extends layout

block content
  p express-redirect-flash
  form(action="update" method="post")
    table
      tr
        th 
          label(for="data-1") Data 1
        td 
          input(type="text" name="data-1" value=key_1)
      tr
        th 
          label(for="data-2") Data 2
        td 
          input(type="text" name="data-2" value=key_2)
    button(type="submit") submit
  